IO_LOC "led" J5;
IO_PORT "led" PULL_MODE=NONE DRIVE=8;
IO_LOC "rst_n" H4;
IO_PORT "rst_n" PULL_MODE=NONE DRIVE=OFF;
IO_LOC "clk" F13;
IO_PORT "clk"  PULL_MODE=NONE DRIVE=OFF ;



IO_LOC "sfp_tx_disable1" G2;
IO_PORT "sfp_tx_disable1" PULL_MODE=NONE DRIVE=8;